body {
    background-image: url('leopard.jpg');
    color: rgb(245, 209, 4);
  }
  
  h1, h2 {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    font-size: 1.2em;
  }
  footer{
    text-anchor: end;
    text-align: center;
    font-size: 1cap;
}